# Django Settings
SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True #change to False in prod
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS Settings (comma-separated list of allowed origins)
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# API Keys
OPENROUTESERVICE_API_KEY=your_api_key_here